@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.custom_slider button.slick-next{
    right: 80px;
    z-index: 10;
}

.custom_slider button.slick-prev{
    left: 20px;
    z-index:10;
}
.custom_slider button.slick-next::before{
    color: gray;
    content: '\276F';
    background-color: rgb(243, 193, 193);
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_slider button.slick-prev::before{
    color: gray;
    content: '\276E';
    background-color: rgb(243, 193, 193);;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_slider button.slick-next{
    right: 0px;
    z-index: 10;
    top:60px;
}

.image_slider button.slick-prev{
    left: 0px;
    z-index:10;
    top: 60px;
}
.image_slider button.slick-next::before{
    color: gray;
    content: '\276F';
    background-color: #ee3131;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_slider button.slick-prev::before{
    color: gray;
    content: '\276E';
    background-color: #ee3131;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 12px;
    background-clip: padding-box;
  }
  
 */
 .my-masonry-grid_column > div {
    margin-bottom: 20px;
  } 

  .w400{
    width:400px;
  }

  code {
    white-space: initial;
  }

  .my-auto{
    margin: auto 0;
  }

  .rbc-btn-group > button {
    color: #ccc !important;
  }
  .rbc-off-range-bg {
    background-color: lightgrey !important;
    opacity: 0.4 !important;
    /* border: 1px solid #ccc !important; */
    color: #ccc !important;
  }
  .rbc-today {
    background-color: lightslategray !important;
    /* border: 1px solid #ccc !important; */
    color: #ccc !important;
  }
  .apexcharts-tooltip {
    background: grey;
    color: lightseagreen  ;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    50% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
    }
  }
  
  .glow-effect {
    transition: transform 0.3s ease-in-out;
  }
  
  .glow-effect:hover {
    animation: glow 0.2s infinite;
    transform: scale(1.02);
  }


  .custom-datepicker .MuiInputBase-root {
    color: white !important;
  }
  
  .custom-datepicker .MuiFormLabel-root {
    color: white !important;
  }
  
  .custom-datepicker .MuiInput-underline:before {
    border-bottom-color: white !important;
  }
  
  .custom-datepicker .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom-color: white !important;
  }
  
  .custom-datepicker .MuiInput-underline:after {
    border-bottom-color: white !important;
  }
  
  .custom-datepicker .MuiFormHelperText-root {
    color: white !important;
  }
  
  .custom-datepicker .MuiSvgIcon-root {
    color: white !important;
  }
  
  .custom-datepicker .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }
  
  .custom-datepicker .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }
  
  .custom-datepicker .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }


  .message_box{
    z-index: 1000 !important;
  }
  

  .emoji-picker-react {
    background-color: #1a1635 !important;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9186f3;
  }
  
  .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #1a1635;
    width: 5px;
  }
  
  .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #9a86f3;
  }
  
  .emoji-picker-react .emoji-categories button {
    filter: contrast(0);
  }
  
  .emoji-picker-react .emoji-search {
    background-color: transparent;
    border-color: #9186f3;
  }
  
  .emoji-picker-react .emoji-group:before {
    background-color: #1a1635;
  }