W# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/bin

/specs

package-lock.json

{"index":"datnhk241services","track_scores":true,"query":{"bool":{"filter":[{"term":{"catergory":"Gym"}}]}},"size":"10","from":0,"_source":["id","name","thumb","price","category","duration","provider_id","province","totalRatings"],"sort":[]}

https://www.elastic.co/guide/en/cloud/current/ec-getting-started-search-use-cases-db-logstash.html
https://www.reddit.com/r/CryptoMarkets/comments/1e3kr7m/what_are_the_best_crypto_accountscreators_to/?rdt=63267

{"index":"datnhk241services","track_scores":true,"query":{"bool":{"filter":[{"term":{"catergory":"Barber"}}]}},"size":"4","from":0,"_source":["id","name","thumb","price","category","duration","provider_id","province","totalRatings"],"sort":[{"price":{"order":"desc"}}]}