/node_modules
.env
sb-gjeks30568206@personal.example.com
{"index":"datnhk241services","track_scores":true,"query":{"bool":{"filter":[{"term":{"catergory":"Gym"}}]}},"size":"10","from":0,"_source":["id","name","thumb","price","category","duration","provider_id","province","totalRatings"],"sort":[]}